<header>
    <div class="cab-fondo">
        <!--Nombre de la tienda-->
        <div class="nombre">
            <p>Nombre</p>
        </div>
        <!--Parte del usuario-->
        <div>
            <a routerLink="/perfil-inicio">
                <div class="cuadro">
                    <img src="../../../assets/images/Logos/Usuario.png" id="foto-u" class="foto">
                </div>
                <div>
                    <p id="nombreUser" class="userName">Nombre de usuario</p>
                </div>
            </a>
        </div>
        <div class="sep"></div>
        <!--Favoritos-->
        <div>
            <a routerLink="/cesta">
                <div class="cuadro">
                    <img src="../../../assets/images/Logos/carrito.jpg" class="foto-c  foto">
                </div>
            </a>
        </div>
        <!--Separación-->
        <div class="sep"></div>
        <!--Carrito-->
        <div>
            <a href="/perfil-favoritos">
                <div class="cuadro">
                    <img src="../../../assets/images/Logos/fav0.png" class="foto-c  foto">
                </div>
            </a>
        </div>
    </div>
</header>