<app-header-compra></app-header-compra>
<div>
    <div class="cent">
        <h1>Favoritos - Compras</h1>
    </div>
    <div class="padre">
        <!---->
        <template>
            <div class="imagen">
                <a href="">
                    <img src="" id="idImg1" />
                    <div class="content">
                        <h2>Objeto</h2>
                        <p>Este objeto se encuentra en tienda, es de una seda...</p>
                        <p id="precio">50€</p>
                    </div>
                </a>
            </div>
        </template>
        <!--Ubicacion de cada foto-->

    </div>
</div>

<app-footer></app-footer>