body {
    margin: 0;
    padding: 0;
    background: #222;
}

div.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-gris {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 90%;
    left: 5%;
    background-color: #aaa;
    overflow-y: auto;
    border: 1 solid #222;
    display: inline-flex;
    align-items: center;
}

.recuadro {
    padding: 10px;
    margin: 0;
    width: 80%;
    height: 70%;
    margin-left: 5%;
    background-color: #d9d8d8;
    border: 1 solid #222;

    box-shadow: 0px 15px 20px #444;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type="submit"],
input[type="file"]{
    text-align: center;
    border-radius: 10px;
    font-size: large;
    width: 200px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #555;
    margin:10px;
}

input[type="submit"]:hover,
input[type="file"]:hover{
    background-color: #999;
}

#userPicture {
    margin: 5% 0;
    box-shadow: 0px 15px 20px #444;
    border: 3px solid #222;
    border-radius: 100%;
}
/* Parte de los Objetos*/

ul.objetos {
    display: block;
}

li.objeto {
    height: 150px;
}

div.line {
    display: inline-grid;
}

.objFoto {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

div.full {
    height: 100%;
    width: 100%;
}

.cuad::after {
    content: "";
    display: block;
    clear: both;
}

p.desc {
    font-size: medium;
    margin: 0;
    background-color: #aaa;
    padding: 5px;
    max-height: 100px;
    height: 100%;
    width: 100%;
    text-align: justify;
    overflow: hidden;
}

p.nObj {
    font-size: medium;
    padding: 0;
    margin: 0;
}

li:hover {
    background-color: #00000010;
}

.bg-ligth {
    background-color: #ccc;
}

div.r-full {
    margin: 25px;
    width: 90%;
    height: auto;
}


@media screen and (max-width:1200px) {
    .f-gris{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    
    }
    .recuadro{
        justify-items: center;
        flex-direction: column;
        align-items: center;
        height: 45%;
    }
    .grid {
        display: grid;
        align-items: center;
        align-content: center;
    }
    .datos,
    .mapa {
        text-align: center;
        float: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    input[type="submit"],
    input[type="file"]{
        padding: 25px; 
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
    input[type="submit"],
    input[type="file"]{
        padding: 20px; 
    }
    .f-gris {
        width: 94%;
        left: 3%;
    }
    p.desc {
        font-size: small;
    }
}

@media screen and (max-width:599px) {
    .f-gris {
        width: 90%;
        left: 5%;
    }
    p.desc {
        font-size: small;
    }
}