body {
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    width: 100%;
    height: calc(100% + 70px);
    
}

.padre {
    display: flex;
    flex-wrap: wrap;
    height: 100% + 70px;
    justify-content: center;
    margin: 1% 10%;
    padding: 1%;
    box-shadow: 2px 2px 5px #22222275;
}

.imagen {
    position: relative;
    width: 225px;
    height: 300px;
    margin: 25px 10px 0 0;
    transition: 0.4s all;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

.imagen img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #2227;
}

.imagen:hover {
    transform: scale(1.12);
}


/*https://www.instagram.com/p/CWi1TH-gyUH/*/

.content {
    position: absolute;
    left: 3%;
    width: 80%;
    bottom: 0;
    height: 90%;
    padding: 5px 15px;
    font-size: 14px;
    background-color: #22222275;
    color: #eee;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    transform: scale(0);
    overflow: hidden;
    transition: all .4s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
}

.imagen:hover .content {
    transform: scale(0.9);
}

.cent {
    text-align: center;
}

.precio {
    margin: 0;
    padding: 0;
}

p.precio,
p.descripcion {
    font-size: 18px;
}

h2 {
    font-size: 15px
}

@media screen and (max-width:960px) {
    .imagen {
        width: 150px;
        height: 200px;
    }
    .content {
        left: 0;
    }
    h2,
    p.precio,
    p.descripcion {
        font-size: 13px;
    }
}

@media screen and (min-width:300px) and (max-width:700px) {
    .imagen {
        width: 120px;
        height: 160px;
    }
    .content {
        width: 60%;
        left: 8%;
    }
    h2,
    p.precio,
    p.descripcion {
        font-size: 9px;
    }
}