<app-header-compra></app-header-compra>
<div class="padre" id="productos">
    <div *ngFor="let producto of productos" class="imagen">
            <a [routerLink]="['/objeto', producto.id]">
                <img [src]="producto.mainPhoto" id='producto.id'/>
                <div class="content">
                    <h2>{{producto.nombre}}</h2>
                    <p id="precio">{{producto.precio}}€</p>
                    <p>{{producto.descripcion}}</p>
                </div>
            </a>
    </div>
</div>
<app-footer></app-footer>