<app-header-compra></app-header-compra>
<div class="med">
    <!--Div imagen-->
    <div>
        <img id="mainPhoto" class="img" [src]="objeto.mainPhoto"/>
    </div>
      
    <!--Div información-->
    <div class="recuadro">
        <!--Info-->
        <div>
            <div><h2 id="objName">{{objeto.nombre}}</h2></div>
            <div><h3 id="precio">{{objeto.precio}}€</h3></div>
            <div><p  id="empresa">{{objeto.empresa}}</p></div>
        </div>
        
        <!--Fotos de otros colores-->
        <div class="flex" id="altPhotos">
            <a *ngFor="let alt of objeto.altPhotos" 
            [routerLink]="['/objeto', alt.id]"
            (click)="refresh();">
                <div><img src="{{alt.url}}" id="{{alt.id}}" class="opcion" /></div>  
            </a>
        </div><br>
        <div>
            <!--Tallas y fav-->
            <div>
                Seleccionar talla: <br/>
                <select name="talla" id="talla">
                    <option value="xs">XS</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
            </div>
        
            <!--Añadir al carrito con las opciones seleccionadas-->
            <div class="flex">
                <input type="button" id="addCarrito" onclick="addCarrito" value="Añadir al carrito">
                <br/><br/>
                <button id="addFavourite" onclick="addFavourite">
                    <p class="fav"><3</p>
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
            
