<!--Fondo y backgroun-->
<div class="recuadro">
    <div>
        <!--cabecera Inicio sesion-->
        <div class="recuadro-login w100 izq">
            <div>
                <h3 class="cent"> INICIA SESIÓN </h3>
            </div>
            <div class="cent">
                <!--<form action="LogIn">-->
                <form #forma1="ngForm">
                    <div>
                        <input type="email" class="txtsin" id="LoginEmail" placeholder="Dirección de e-mail" required
                            #email = "ngModel" [(ngModel)] = "userLogIn.correo" name="email"
                        />
                    </div>
                    <div>
                        <input type="password" class="txtsin" id="LoginPass" placeholder="Contraseña" required
                            #password="ngModel" [(ngModel)]="userLogIn.password" name="password"
                        />
                    </div>
                    <!--Botón para acceder-->
                    <div>
                        <input type="submit" id="btnLogin" (click)="login();" value="Iniciar Sesión" [disabled]="forma1.invalid"/>
                    </div>
                </form>
            </div>
        </div>

        <!--Cuadro registrarse-->
        <div class="recuadro-signin w100 cent">
            <!--cabecera Registro-->
            <div>
                <h3 class="cent">REGISTRARSE</h3>
            </div>
            <form #forma2="ngForm">
                <div>
                    <input type="email" class="txtsin" id="signInEmail" placeholder="Dirección de e-mail" required
                        email #correo = "ngModel" [(ngModel)] = "userRegister.correo" name="email"
                    />
                    <div class="invalid-feedback" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                        <div *ngIf="correo.errors?.['required']">
                            El correo electrónico es obligatorio.
                        </div> 
                    </div>
                    <div class="invalid-feedback" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                        <div *ngIf="correo.errors?.['email']">
                            No tiene formato de correo electrónico. 
                        </div> 
                    </div>
                </div>
                <!--
                <div>
                    <input type="text" class="txtsin" id="nombre" placeholder="Nombre" required
                        #nombre = "ngModel" [(ngModel)] = "userRegister.nombre" name="nombre" 
                        pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+" 
                    />
                    <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors?.['required']">
                            El nombre de usuario es obligatorio.
                        </div> 
                
                        <div *ngIf="nombre.errors?.['pattern']">
                            No es un nombre válido.
                        </div> 
                    </div>
                </div>
                -->
                <div>
                    <input type="password" class="txtsin" id="signInPass" placeholder="Contraseña" required
                        #passwordR = "ngModel" [(ngModel)] = "userRegister.password" name="password" pattern="[ A-Za-z0-9_ ]{6,}"
                    />
                    <div class="invalid-feedback" *ngIf="passwordR.invalid && (passwordR.dirty || passwordR.touched)">
                        <div *ngIf="passwordR.errors?.['required']">
                            El nombre de usuario es obligatorio.
                        </div>
                        <div *ngIf="passwordR.errors?.['pattern']">
                            La contraseña solo puede tener letras y números. Como mínimo 6 caracteres.
                        </div>
                    </div>
                </div>
                <!--Botón para acceder-->
                <div class="cent">
                    <input type="submit" (click)="register();" id="btnRegister" value="Enviar" [disabled]="forma2.invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!--div class="der img-pos">
    <img src="/img/Logos/b2c7de1951d5d57e9305c96ca875e170-bolsas-de-compra.png">
</div-->