body{
    overflow-x: hidden;
}


.gen{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/*==================== Parte del carrito ====================*/

.carrito {
    background-color: #a9a9a9;
    height: 50%;
    overflow-x: auto;
    box-shadow: 5px 5px 5px #00000025;
}

.producto {
    list-style: none;
    background-color: #bbb;
    width: 150px;
    margin: 5px;
    height: 90%;
    box-shadow: 5px 5px 5px #00000025;
}

#articulos {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-flex;
    height: 225px;
}

#articulos::after {
    content: "";
    display: block;
    clear: both;
}

input[type="submit"] {
    border-radius: 5px;
    font-size: large;
    background-color: #eee;
    border: 1px solid #555;
    color: #555;
}

input[type="submit"]:hover {
    background-color: #555;
    color: #eee;
}

.cent {
    margin-top: 10px;
    text-align: center;
}

.costo {
    background-color: #555;
    padding: 10px;
    color: #eee;
    font-size: larger;
    font-weight: bold;
    width: calc(100% - 20px);
    height: 5%;
    text-align: center;
}

@media screen and (max-width:960px) {
    .imagen {
        width: 150px;
        height: 200px;
    }
}