<div class="gen">
    <div class="carrito">
        <ul id="articulos">
            <!--li class="imagen producto" id= 1> Nombre del artículo</li>-->
            <li class="imagen producto" id="1">Articulo 1</li>
            <li class="imagen producto" id="2">Articulo 2</li>
            <li class="imagen producto" id="3">Articulo 3</li>
            <li class="imagen producto" id="4">Articulo 4</li>
            <li class="imagen producto" id="5">Articulo 1</li>
            <li class="imagen producto" id="6">Articulo 2</li>
            <li class="imagen producto" id="7">Articulo 3</li>
            <li class="imagen producto" id="8">Articulo 4</li>
        </ul>
    </div>
    <div class="costo">
        <div>Costo total</div>
        <p id="costoTotal">50€</p>
    </div>
</div>
