<!DOCTYPE html>
<html lang="es">

<head>
    <title>Categorías</title>
    <link rel="stylesheet" href="/CSS/categorias.css">
    <link rel="stylesheet" href="/CSS/pequeño/categorias_pequeño.css" media="only screen and (max-width: 960px)">
    <link rel="stylesheet" href="/CSS/header_footer/footer.css">
    <link rel="stylesheet" href="/CSS/header_footer/header.css">
</head>

<body>
    
    <app-header-compra></app-header-compra>
    <!--Parte de la izquierda-->
    <div class="flex">
        <div class="recuadro">
            <div>
                <ul class="l-mar l-pad">
                    <li><a href="/web/Compra/catalogoCompras.html" id="camisa">Camisa</a></li>
                    <li><a href="" id="camiseta">Camiseta</a></li>
                    <li><a href="" id="pantalon">Pantalón</a></li>
                    <li><a href="" id="abrigos">Abrigos</a></li>
                    <li><a href="" id="accesorios">Accesorios</a></li>
                </ul>
            </div>
        </div>

        <!--Parte del fondo "animado"-->
        <div class="fondo">
            <img src="https://img.wattpad.com/b7d717d7b01f3696575ffdad4c9022760211af54/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f57765a617a4f345378484b786b773d3d2d3539373739333034302e3135343432653231616363626665373539393537353832383635362e676966"
            />
        </div>
    </div>
    <app-footer></app-footer>
</body>